/* style sheet for the password strength indicator */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(237, 231, 231);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#input-text{
  width: 400px;
  padding: 20px;
  font-size: 1.25rem;
  background-color:azure;
  border:2px solid black;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  -o-border-radius:5px;
}

#input-text:focus{
  outline: none;
}

